# https://travis-ci.org/tornadoweb/tornado

language: python

matrix:
    fast_finish: true
    include:
      - python: 2.7
        dist: xenial  # Ubuntu 16.04 - supports Python 2.7
        before_install:
          - sudo apt-get update
          - sudo apt-get install -y libgnutls28-dev libcurl4-gnutls-dev
        install:
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' incremental==16.10.1
          - travis_retry pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' --upgrade --force-reinstall singledispatch==3.4.0.3 
          - travis_retry pip install  --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' mock monotonic singledispatch Twisted pycurl
          - travis_retry python setup.py install
          - travis_retry pip install  --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' virtualenv
        script:
          - python -m tornado.test
          - cd maint
          - export TORNADO_EXTENSION=1
          - export TARGET="-m tornado.test.runtests"
          - export ASYNC_TEST_TIMEOUT=15
          - python $TARGET
          - python $TARGET --ioloop=tornado.platform.select.SelectIOLoop
          - python -O $TARGET
          - LANG=en_US.utf-8 python $TARGET
          - python $TARGET --httpclient=tornado.curl_httpclient.CurlAsyncHTTPClient
          - python $TARGET --ioloop=tornado.platform.twisted.TwistedIOLoop
          - python $TARGET --resolver=tornado.platform.twisted.TwistedResolver
          - python $TARGET --ioloop=tornado.ioloop.PollIOLoop --ioloop_time_monotonic
          - python -m tornado.test.runtests

      - name: "PyPy 2.7-5.8.0"
        dist: xenial  # Ubuntu 16.04 - supports PyPy 2.7
        language: python
        python: 2.7  # Placeholder
        before_install:
          - wget https://downloads.python.org/pypy/pypy2-v5.8.0-linux64.tar.bz2
          - tar -xjf pypy2-v5.8.0-linux64.tar.bz2
          - export PATH=$PWD/pypy2-v5.8.0-linux64/bin:$PATH
          - pypy --version
        install:
          - pypy -m ensurepip
          - pypy -m pip install --upgrade pip
          - pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' --upgrade --force-reinstall singledispatch==3.4.0.3 
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' backports_abc singledispatch futures
        #   - travis_retry pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' mock
          - travis_retry python setup.py install
        script:
          - python -m tornado.test
          - cd maint
          - export TARGET="-m tornado.test.runtests"
          - export ASYNC_TEST_TIMEOUT=15
          - python $TARGET
          - python -O $TARGET
          - LANG=C python $TARGET
          - LANG=en_US.utf-8 python $TARGET
          - python -m tornado.test.runtests

      - python: 3.4
        dist: xenial  # Ubuntu 16.04 - supports Python 3.4
        before_install:
          - sudo apt-get update
          - sudo apt-get install -y libgnutls28-dev libcurl4-gnutls-dev
        install:
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' backports_abc
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' incremental==16.10.1
          - travis_retry pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' pycurl Twisted
          - travis_retry python setup.py install
        script:
          - python -m tornado.test
          - cd maint
          - export TORNADO_EXTENSION=1
          - export TARGET="-m tornado.test.runtests"
          - export ASYNC_TEST_TIMEOUT=15
          - python $TARGET
          - python -O $TARGET
          - LANG=C python $TARGET
          - LANG=en_US.utf-8 python $TARGET
          - python -bb $TARGET
          - python -m tornado.test.runtests

      - python: 3.5
        dist: xenial  # Ubuntu 16.04 - supports Python 3.5
        before_install:
          - sudo apt-get update
          - sudo apt-get install -y libgnutls28-dev libcurl4-gnutls-dev
        install:
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' incremental==16.10.1
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' 'setuptools<46'
          - travis_retry pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' pycurl Twisted
          - travis_retry python setup.py install
        script:
          - python -m tornado.test
          - cd maint
          - export TORNADO_EXTENSION=1
          - export TARGET="-m tornado.test.runtests"
          - export ASYNC_TEST_TIMEOUT=15
          - python $TARGET
          - python -O $TARGET
          - LANG=C python $TARGET
          - LANG=en_US.utf-8 python $TARGET
          - python -bb $TARGET
          - python -m tornado.test.runtests

      - python: 3.6
        dist: xenial  # Ubuntu 16.04 - supports Python 3.6+ to openssl 1.0.2
        before_install:
          - sudo apt-get update
          - sudo apt-get install -y libgnutls28-dev libcurl4-gnutls-dev
        install:
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' incremental==16.10.1
          - travis_retry pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' setuptools==45
          - travis_retry pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' dataclasses
          - travis_retry pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' pycurl Twisted
          - travis_retry python setup.py install
        script:
          - python -m tornado.test
          - cd maint
          - export TORNADO_EXTENSION=1
          - export ASYNC_TEST_TIMEOUT=15
          - export TARGET="-m tornado.test.runtests"
          - python $TARGET
          - python -O $TARGET
          - LANG=C python $TARGET
          - LANG=en_US.utf-8 python $TARGET
          - python -bb $TARGET
          - python -m tornado.test.runtests

      - python: 3.7
        dist: xenial  # Ubuntu 16.04 - supports Python 3.6+ to openssl 1.0.2
        install:
          - travis_retry pip install --index-url 'https://:2018-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' -U setuptools
          - travis_retry python setup.py install
        script:
          - python -m tornado.test
          - cd maint
          - export TORNADO_EXTENSION=1
          - export TARGET="-m tornado.test.runtests"
          - export ASYNC_TEST_TIMEOUT=15
          - python $TARGET
          - python -O $TARGET
          - LANG=C python $TARGET
          - LANG=en_US.utf-8 python $TARGET
          - python -bb $TARGET
          - python -m tornado.test.runtests

      - name: "PyPy 3.5-5.8.0"
        dist: xenial  # Ubuntu 16.04 - supports Python 3.5
        language: python
        python: 3.5  # Placeholder
        before_install:
          - wget https://downloads.python.org/pypy/pypy3-v5.8.0-linux64.tar.bz2
          - tar -xjf pypy3-v5.8.0-linux64.tar.bz2
          - export PATH=$PWD/pypy3-v5.8.0-linux64/bin:$PATH
          - pypy3 --version
        install:
          - pypy3 -m ensurepip
          - pypy3 -m pip install --upgrade pip
        install:
          - pip install --index-url 'https://:2024-09-16T19:22:58.819187Z@time-machines-pypi.sealsecurity.io/' backports_abc singledispatch
          - travis_retry python setup.py install
        script:
          - python -m tornado.test
          - cd maint
          - export TARGET="-m tornado.test.runtests"
          - export ASYNC_TEST_TIMEOUT=15
          - python $TARGET
          - python -O $TARGET
          - LANG=C python $TARGET
          - LANG=en_US.utf-8 python $TARGET
